# Zależności
node_modules
npm-debug.log*
yarn-error.log*

# Budowanie (plików wynikowych nie wysyłamy)
dist
dist-ssr

# Zmienne środowiskowe (KRYTYCZNE - nie usuwaj tego!)
.env
.env.*.local

# Pliki systemowe (śmieci generowane przez Windows/Mac)
.DS_Store
Thumbs.db
Desktop.ini

# Edytory kodu
.vscode/
.idea/

# Inne (pliki użytkownika i serwera)
*.tar.gz
*.zip
server/public/

# Twoje prywatne zasoby (Zostają na dysku, nie lecą na GitHub)
attached_assets/
/pliki

# Replit (blokada plików konfiguracyjnych i integracji AI)
.replit
replit.nix
server/replit_integrations/